.banner {
  text-align: center;
  padding-top: 130px;
  padding-bottom: 120px;

  .title {
    position: relative;
    font-size: $h1;
    font-weight: 900;
    color: $text_color_white;
    text-transform: uppercase;
  }

  .discription {
    margin-top: 31px;
    font-size: $p_v2;
    color: $text_color_white;
  }

  .button-link {
    margin-top: 79px;
    @extend %btn;
  }

  .button-link:hover {
    @extend %btn_hover;
  }

  .button-link:active {
    @extend %btn_active;
  }
}

@media (max-width: 1200px) {
  .banner {
    padding-top: 158px;
    padding-bottom: 126px;
    .title {
      font-size: $h1_tablet;
    }

    .discription {
      margin-top: 61px;
      font-size: $p_v2_tablet;
    }

    .button-link {
      margin-top: 89px;
    }
  }
}

@media (max-width: 1200px) {
  .banner {
    padding-top: 49px;
    padding-bottom: 52px;
    .title {
      font-size: $h1_phone;
    }

    .discription {
      margin-top: 32px;
      font-size: $p_v2_phone;
    }

    .button-link {
      margin-top: 49px;
    }
  }
}
