.header {
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $nav_after_hover_color;
    flex-wrap: wrap;
    .logo {
      display: block;
      height: 100%;
    }
  }
}

.nav-list {
  display: flex;
  flex-direction: row;
}

.nav-list__el {
  position: relative;
  width: 134px;
  text-align: center;
  a {
    display: block;
    padding: 42px 0;
    color: $text_color_white;
    font-size: $nav_points;
    font-weight: 700;
    transition: 0.5s;
  }
  a:after {
    transition: 0.5s;
  }
}

.nav-list__el > a:hover::after {
  @extend %line_nav_hover;
}

.nav-list__el > a:active {
  color: $nav_text_active_color;
}

.nav-list__el > a:active::after {
  @extend %line_nav_active;
}
