.header {
  position: sticky;
  top: 0;
  background: inherit;
  z-index: 100;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
    .logo {
      display: block;
      height: 100%;
    }
  }
}

.header-content.border {
  border: 0px solid transparent !important;
  border-bottom: 1px solid $nav_after_hover_color !important;
}

@media (max-width: 780px) {
  .header-content.border {
    border: 0px solid transparent !important;
    border-bottom: 0px solid transparent !important;
  }
}

.nav-list {
  display: flex;
  flex-direction: row;
}

.burger {
  display: none;
  cursor: pointer;
  padding: 19px 0;
}

.line {
  height: 2px;
  width: 24px;
  background-color: white;
  transition: transform 0.75s ease, opacity 0.75s ease;
}

.line2 {
  margin: 4px 0;
}

.nav.show .line1 {
  transform: translate(-12px) rotate(45deg) translate(9px);
}
.nav.show .line2 {
  opacity: 0;
}
.nav.show .line3 {
  transform: translate(-12px) rotate(-45deg) translate(9px);
}
.nav.show .nav-list {
  transform: translateX(0%);
}

.nav-list__el {
  position: relative;
  width: 134px;
  text-align: center;
  a {
    display: block;
    padding: 42px 0;
    color: $text_color_white;
    font-size: $nav_points;
    font-weight: 700;
    transition: 0.5s;
  }
  a:after {
    @extend %line_nav;
    transition: 1s ease-in-out;
  }
}

.nav-list__el > a:hover::after {
  @extend %line_nav_hover;
}

.nav-list__el > a:active {
  color: $nav_text_active_color;
}

.nav-list__el > a:active::after {
  @extend %line_nav_active;
}

@media (max-width: 1200px) {
  .nav-list__el {
    max-width: 112px;
    a {
      padding: 43px 0;
      font-size: $nav_points_tablet;
    }
  }
}

@media (max-width: 780px) {
  .header {
    .header-content {
      border-bottom: none;
      .logo {
        width: 103px;
        z-index: 10;
      }
    }
  }

  .burger {
    display: block;
  }
  .nav-list {
    position: absolute;
    text-align: left;
    right: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background: linear-gradient($main_background_color, $main_background_color),
      url(./img/img.png) fixed center/cover;
    transform: translateX(100%);
    transition: transform 1s ease;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    .nav-list__el:first-child {
      margin-top: 84px;
    }
    .nav-list__el {
      width: 100%;
      padding: 0 20px;
      a {
        text-align: left;
        padding: 25px 0;
        font-size: $nav_points_phone;
      }
    }

    .nav-list__el > a:hover::after {
      display: none;
    }
  }
}
